<form action="/cadastrar" method="POST">
    <input type="text" name="produto" placeholder="Produto">
    <input type="text" name="valor" placeholder="Valor do Produto">
    <input type="text" name="marca" placeholder="Marca do Produto">
    <input type="submit" value="Cadastrar" class="btn btn-primary">
</form>

<table border="1">
    {{#each cadastrado}}
    <tr>
        <td>Id: {{id}}</td>
        <td>Produto: {{produto}}</td>
        <td>Valor: {{valor}}</td>
        <td>Marca: {{marca}}</td>
        <td><a href="/remover/{{id}}" class="btn btn-danger">Remover</a></td>
    </tr>
    {{/each}}

</table>