<p class="center">Nome da Receita: {{receita}} </p>
<p class="center">Ingredientes: {{ingredientes}}</p>
<p class="center">Modo de Preparo: {{modoPreparo}}</p>
<p class="center">Quantidade de pessoas que serve: {{qtdPessoas}}</p>
<p class="center">ID: {{id}}</p>